* {
    background: #F3F5FC;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
}

header, main, footer {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    /* height: auto; */
    max-width: 1440px;
    display: flex;
    margin: 0 40px;
    justify-content: center;
    align-items: center;
}

.header-h1{
    color: #0A3871;
    font-weight: 800;
    font-size: x-large;
    padding-top: 30px;
}

.text-input {
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.textarea {
    height: 100%;
    resize: none;
    border: none;
    color: #0A3871;
    margin-top: 80px;
    text-transform: lowercase;
    overflow: auto;
}

::placeholder { color: #0A3871; }
    .textarea:focus {
        outline: none;
    }

.text-output {
    display: flex;
    justify-content: center;
    flex-basis: calc(35% - 80px);
    flex-direction: column;
    height: 75vh;
    background: white;
    border: none;
    border-radius: 28px;
    color: #0A3871;
    margin-left: 90px;
    margin-top: 25px;
    padding-left: 10px;
}
.textarea-resolve:focus {
    outline: none;
}

.info {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.info h6 {
    color: #495057;
    font-size: 12px;
    margin-left: 5px;
}

.info img {
    display: inline-block;
}

.botones {
    display: flex;
    margin-top: 15px;
    /* flex-direction: row;
    align-items: flex-start; */
    gap: 25px;
    margin-bottom: 10px;
}

input:hover, button:hover {
    transform: scale(1.03);
    transition: 200ms;
}

.btn-encriptar {
    background: #0A3871;
    border-radius: 24px;    
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.init-content {
    background: white;
    margin: 40px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;*/
}

.init-content img, p {
    background: transparent;
    text-align: center;
    color: black;
    font-weight: bold;
}

.init-content > p:last-child {
    margin-top: 3px;
    font-size: smaller;
    font-weight: lighter;
    line-height: 50%;

}

.result-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: none;
    height: 100%;
}

.output-area {
    resize: none;
    border: none;
    color: #0A3871;
    background: none;
    margin-top: 60px;
    overflow: auto;
    flex-basis: calc(100% - (67px + 50px));
    /* display: flex;
    flex-direction: row; */
}

.btn-copiar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.invisible {
    display: none;
}

footer{
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    padding: 20px;
}

footer img {
    width: 25px;
    margin: 5 20px;
    padding: 5px 5px;
    border-radius: 50%;
}

